* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    
}

.area-list li a{
    font-family: 'Merriweather', serif;
}

.areas{
    font-size: 25px;
}

.featured-map {
    padding: 0;
    position: relative;
    z-index: 1
}

.container {
    width: 1400px;
    max-width: 100%;
    margin: 0px 100px 0px 100px;
    display: flex;
    gap: 80px;
    padding: 30px;
}

/* LEFT */
.map-content {
    z-index: 1;
    margin-top: 220px;
    margin-left: 37px;
    /* width: 40%; */
}

.subtitle {
    letter-spacing: 3px;
    font-size: 14px;
    color: #333;
}

.map-content h2 {
    font-family: Merriweather;
    font-size: 40px;
    margin: 10px 0 40px;
}

.area-list {
    list-style: none;
}

.area-list li {
    margin-bottom: 18px;
    padding-bottom: 20px;
}

.area-list a,
.map-hover a {
    text-decoration: none;
    color: #222;
    font-size: 18px;
}

.area-list a {
    font-size: 36px;
     padding: 10px 20px;
     margin-bottom: 30px;
     font-weight: bold;
}

.area-list a.active,
.area-list a:hover {
    background-color: #041d42;
    color: white;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 40px;
    padding: 12px 28px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
    background-color: #B09454;
    color: #fff;
    border-color: #B09454;
}


.map-base {
    width: 900px;
    position: absolute;
    right: 0;
    z-index: -1;
}

@media (max-width: 976px) {

    .hovers,
    .map-base {
        display: none;
    }
}

.map-hover {
    position: absolute;
    right: 0;
}

.map-hover img {
    height: auto;
    opacity: 0;
    transition: opacity .25s ease;
}

.map-hover.active img {
    opacity: 1;
   filter: drop-shadow(0 0px 10px rgb(0, 0, 0))

}

div#map1 {
    right: 180px;
    top: 320px;
}
div#map1 img {
    width: 100px;
}

div#map1 div {
    position: absolute;
    top: 60px;
    width: 200px;
    left: 50px;
}

div#map2 {
    right: 325px;
    top: 297px;
}

div#map2 div {
    position: absolute;
    width: 300px;
    top: 20px;
    left: 40px;
}

div#map3 {
    right: 355px;
    top: 328px;
}

div#map3 div {
    position: absolute;
    right: 50px;
    width: 300px;
    top: 32px;
    display: flex;
    flex-direction: row-reverse;
}

div#map4 {
    right: 358px;
    top: 999px;
}

div#map4 div {
    position: absolute;
    top: 10px;
    left: 60px;
    width: 300px;
}

div#map7 {
    right: 486px;
    top: 891px;
}

div#map7 div {
   position: absolute;
    top: 25px;
    right: 50px;
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
}
div#map11 {
    right: 478px;
    top: 836px;
}
div#map11 div {
    position: absolute;
    top: 30px;
    width: 300px;
    right: 40px;
    display: flex;
    flex-direction: row-reverse;
}
div#map5 {
    right: 370px;
    top: 372px;
}
div#map5 div {
    position: absolute;
    top: 40px;
    width: 300px;
    right: 50px;
    display: flex;
    flex-direction: row-reverse;
}
div#map9 {
    right: 328px;
    top: 35px;
}

div#map9 div {
    position: absolute;
    left: 42px;
    width: 300px;
    top: 100px;
}
div#map10 {
    top: 779px;
    right: 422px;
}
div#map10 div {
   position: absolute;
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
    top: 27px;
    right: 35px;
}
div#map8 {
    top: 908px;
    right: 457px;
}
div#map8 div {
   position: absolute;
    left: 10px;
    top: 10px;
    width: 300px;
}
div#map6 {
    position: absolute;
    top: 555px;
    right: 353px;
}
div#map6 div{
   display: flex;
    flex-direction: row-reverse;
    right: 36px;
    position: absolute;
    top: 10px;
    width: 300px;
}
