* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.area-list li a {
    font-family: 'Merriweather', serif;
}

.areas {
    font-size: 25px;
}

.featured-map {
    padding: 0;
    position: relative;
    z-index: 1
}

.custome-container {
    width: 1400px;
    max-width: 100%;
    margin: 0px 100px 0px 100px;
    display: flex;
    gap: 80px;
    padding: 30px;
}

/* LEFT */
.map-content {
    z-index: 1;
    margin-top: 100px;
    margin-left: 37px;
}

.subtitle {
    letter-spacing: 3px;
    font-size: 14px;
    color: #333;
}

.map-content h2 {
    font-family: Merriweather;
    font-size: 40px;
    margin: 10px 0 40px;
}

.area-list {
    list-style: none;
}

.area-list li {
    margin-bottom: 18px;
    padding-bottom: 20px;
}

.area-list a,
.map-hover a {
    text-decoration: none;
    color: #222;
    font-size: 18px;
}

.area-list a {
    font-size: 36px;
    padding: 10px 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

.area-list a.active,
.area-list a:hover {
    background-color: #041d42;
    color: white;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 40px;
    padding: 12px 28px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
    background-color: #B09454;
    color: #fff;
    border-color: #B09454;
}


.map-base {
    width: 900px;
    position: absolute;
    right: 0;
    z-index: -1;
}

.cs-md-hidden {
    display: none;
}


.map-hover {
    position: absolute;
    right: 0;
}

.map-hover img {
    height: auto;
    opacity: 0;
    transition: opacity .25s ease;
}

.map-hover.active img {
    opacity: 1;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7)) drop-shadow(0 0 12px rgba(0, 0, 0, 0.3));

}

div#map1 {
    right: 180px;
    top: 390px;
}

div#map1 img {
    width: 100px;
}

div#map1 div {
    position: absolute;
    top: 60px;
    width: 200px;
    left: 50px;
}

div#map2 {
    right: 215px;
    top: 640px;
}

div#map2 img {
    width: 115px;
}

div#map2 div {
    position: absolute;
    width: 200px;
    top: 50px;
    left: 50px;
}

div#map3 {
    right: 225px;
    top: 30px;
}

div#map3 img {
    width: 120px;
}

div#map3 div {
    position: absolute;
    right: 50px;
    width: 300px;
    top: 32px;
    display: flex;
    flex-direction: row-reverse;
}

div#map4 {
    right: 310px;
    top: 577px;
}

div#map4 img {
    width: 105px;
}

div#map4 div {
    position: absolute;
    top: 20px;
    right: 60px;
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
}

div#map5 {
    right: 200px;
    top: 515px;
}

div#map5 img {
    width: 125px;
}

div#map5 div {
    position: absolute;
    top: 40px;
    width: 300px;
    right: 50px;
    display: flex;
    flex-direction: row-reverse;
}

div#map6 {
    position: absolute;
    top: 620px;
    right: 315px;
}

div#map6 img {
    width: 100px;
}

div#map6 div {
    display: flex;
    flex-direction: row-reverse;
    right: 36px;
    position: absolute;
    top: 45px;
    width: 200px;
}

div#map7 {
    right: 218px;
    top: 748px;
}

div#map7 img {
    width: 132px;
}

div#map7 div {
    position: absolute;
    top: 55px;
    left: 60px;
    width: 200px;
}

div#map8 {
    top: 918px;
    right: 200px;
}

div#map8 img {
    width: 115px;
}

div#map8 div {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 200px;
}

div#map9 {
    right: 180px;
    top: 114px;
}

div#map9 img {
    width: 141px;
}

div#map9 div {
    position: absolute;
    left: 42px;
    width: 200px;
    top: 60px;
}

div#map10 {
    top: 790px;
    right: 455px;
}

div#map10 img {
    width: 80px;
}

div#map10 div {
    position: absolute;
    width: 200px;
    display: flex;
    flex-direction: row-reverse;
    top: 27px;
    right: 35px;
}

@media (max-width: 1280px) {
    .area-list-container {
        flex-direction: column;
    }

    .map-content {
        margin-top: 50px;
    }
}

@media (max-width: 976px) {
    .map-content {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .map-base {
        right: -100px;
    }

    div#map1 {
        right: 80px;
        top: 390px;
    }

    div#map2 {
        right: 115px;
        top: 640px;
    }

    div#map3 {
        right: 125px;
        top: 33px;
    }

    div#map4 {
        right: 210px;
        top: 577px;
    }

    div#map5 {
        right: 100px;
        top: 515px;
    }

    div#map6 {
        position: absolute;
        top: 618px;
        right: 215px;
    }

    div#map7 {
        right: 118px;
        top: 745px;
    }

    div#map8 {
        top: 915px;
        right: 100px;
    }

    div#map9 {
        right: 80px;
        top: 115px;
    }

    div#map10 {
        top: 790px;
        right: 355px;
    }
}

@media (max-width: 766px) {
    .cs-hidden {
        display: none;
    }

    .cs-md-hidden {
        display: block;
    }
}